/*!
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import '../../../css/variables.scss';
.feature-section {
  background: #f9fafa;
  .feature-container {
    box-sizing: border-box;
    max-width: $contentWidth;
    margin: 0 auto;
    position: relative;
    padding: 80px 40px 40px;
    h3 {
      font-family: Avenir-Medium;
      font-weight: 700;
      font-size: 36px;
      color: #333;
      text-align: center;
      margin: 0 0 60px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        vertical-align: top;
        display: inline-block;
        margin-bottom: 40px;
        width: 50%;
        .docsite-icon {
          vertical-align: top;
          margin-right: 20px;
          &::before {
            vertical-align: top;
          }
        }
        div {
          display: inline-block;
          width: 80%;
          h4 {
            font-family: Avenir-Medium;
            font-weight: 700;
            font-size: 20px;
            color: #333;
            margin: 10px 0 20px;
          }
          p {
            font-family: Avenir-Medium;
            font-size: 14px;
            line-height: 20px;
            color: #999;
          }
        }
      }
      @media screen and (max-width: 768px) {
        li {
          width: 100%;
        }
      }
    }
  }
}
