@import '../../css/variables.scss';

.button {
  box-sizing: content-box;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  min-width: 140px;
  font-family: Avenir-Medium;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  padding: 0;
  border-radius: 24px;
  text-decoration: none;

  &-primary {
    border: 2px solid #FFF;
    color: $brandColor;
    background: #FFF;
  }
  &-normal {
    border: 2px solid #FFF;
    opacity: 0.6;
    color: #FFF;
  }
  &-normal:hover {
    border: 2px solid #FFF;
    opacity: 1;
    color: #FFF;
  }
}