@import '../../variables.scss';

.button {
  box-sizing: border-box;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  min-width: 140px;
  font-family: Avenir-Medium;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  &-primary {
    color: $brandColor;
    background: #fff;
  }
  &-normal {
    color: #fff;
    opacity: 0.6;
    border: 1px solid #fff;
  }
}