@import '../../../css/variables.scss';
.msemap-section {
  .msemap-container {
    h3 {
      font-family: Avenir-Medium;
      font-weight: 700;
      font-size: 36px;
      color: #333;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}