/*!
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import '../../../css/variables.scss';
.introduction-section {
  background: #fff;
  .introduction-body {
    max-width: $contentWidth;
    box-sizing: border-box;
    margin: 0 auto;
    min-height: 640px;
    padding: 40px 40px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .introduction {
      display: inline-block;
      width: calc(100% - 530px);
      min-width: 300px;
      max-width: 590px;
      h3 {
        font-family: Avenir-Medium;
        font-weight: 700;
        font-size: 36px;
        color: #333;
        margin-bottom: 20px;
        word-break: break-word;
      }
      p {
        font-family: Avenir-Medium;
        font-size: 19px;
        color: black;
      }
      ul {
        list-style: none;
        margin-top: 25px;
        li {
          position: relative;
          margin-bottom: 25px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        li::before {
          content: '';
          position: absolute;
          left: 0;
          top: 10px;
          width: 6px;
          height: 6px;
          background: #999;
          border-radius: 50%;
        }
        p {
          display: inline-block;
          margin-left: 12px;
        }
      }
    }
    img {
        width: 530px;
        // margin: 0 82px;
        max-width: 100%;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
    }

    @media screen and (max-width: 1106px) {
      .introduction {
        display: inline-block;
        width: 100%;
        max-width: 100%;
      }
      img {
        margin: 0;
      }
    }
  }
}
